%h4 Game invites

%table.table
  %th Receiver
  %th Status
  %th Sender
  - @game.invites.each do |invite|
    %tr
      %td= invite.recipient.email 
      %td= invite_status(invite)
      %td= invite.sender.email 