<% if resource&.errors.present? %>

  <%= content_tag :div, data: {resource_id: resource.id}, class: "errors" do %>
    <% resource.errors.full_messages.each do |message| %>
    <div class="alert alert-danger"> <p><%= message %></p> </div>
    <% end %>
  <% end %>

<% end %>