<nav class="navbar navbar-expand-sm justify-content-md-center">
  <ul class="navbar-nav">
    <li class="nav-item">
      <div class="nav-link"><%= link_to 'Locations', locations_path %></div>
    </li>
    <li class="nav-item">
      <div class="nav-link"><%= link_to 'Games', games_path %></div>
    </li>
    <li class="nav-item">
      <div class="nav-link"><%= link_to 'Players', players_path %></div>
    </li>
    <li class="nav-item">
      <div class="nav-link"><%= link_to "Notifications #{current_player.notifications.count}", player_notifications_path(current_player) %></div>
    </li>
  </ul>
</nav>