<h2>Games list</h2>
<%= link_to 'New game', new_game_path %> <br>
<table class="table">
  <th>Location</th>
  <th>Starting time</th>
  <th>End time</th>
  <th>Organizator</th>
  <th>Players amount</th>
  <th>Status</th>
  <th colspan="3">Actions</th>
  <%= render @games %>
</table>