<h2>Create new game</h2>

<%= render partial: 'shared/errors', locals: {resource: @game} %>
<%= form_with model: @game, url: {action: "create"} do |form| %>
<%= render partial: 'form', locals: {form: form, game: @game} %>
<% end %>

<%= link_to 'Back to games', games_path %>